$color_1: #fff;
$color_2: #162938;
$color_3: #ddd;
$color_4: #333;
$font-family_1: 'Poppins', sans-serif;
$background-color_1: rgba(194, 194, 194, 0.713);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family_1;
}
